@model IEnumerable<score.Models.SalesBoardAllMTD>


@{
    ViewBag.Title = "Index";
    string Location = ViewBag.Location;
    string ReportDate = ViewBag.ReportDate;
    int recordnumber = 0;
    int DaysInMonth = ViewBag.DIM;
    var applicationPath = Request.ApplicationPath;
    if (applicationPath == "/")
    {
        applicationPath = "";
    }
}



        <script type="text/javascript">
                    $(function () {
                        var chart = new CanvasJS.Chart("chartContainerCertified", {
                            title: {
                                text: "Used Vehicle Breakdown",
                                fontSize:18
                            },
                            animationEnabled: true,
                            exportEnabled: true,
                            legend: {
                                verticalAlign: "center",
                                horizontalAlign: "left",
                                fontSize: 12,
                                fontFamily: "Helvetica"
                            },
                            theme: "light2",
                            data: [
                            {
                                type: "pie",
                                indexLabelFontFamily: "Garamond",
                                indexLabelFontSize: 12,
                                indexLabel: "{label} {y}%",
                                startAngle: -20,
                                showInLegend: true,
                                toolTipContent: "{legendText} {y}%",
                                dataPoints: [
                                    @{
                                        var percentCPO = 33;
                                        var percentValue = 55;
                                        var percentUsed = 55;
                                        var percentHandy = 44;
                                        var percentOther = 8;
                                }
                                    { y: @percentCPO, legendText: "CPO", label: "CPO" },
                                    { y: @percentUsed, legendText: "Used", label: "Used" },
                                    { y: @percentValue, legendText: "Value", label: "Value" },
                                    { y: @percentHandy, legendText: "Handyman", label: "Handyman" },
                                    { y: @percentOther, legendText: "Not Set", label: "Not Set" }
                                    //{ y: 72.48, legendText: "Google", label: "Google" },
                                    //{ y: 10.39, legendText: "Bing", label: "Bing" },
                                    //{ y: 7.78, legendText: "Yahoo!", label: "Yahoo!" },
                                    //{ y: 7.14, legendText: "Baidu", label: "Baidu" },
                                    //{ y: 0.22, legendText: "Ask", label: "Ask" },
                                    //{ y: 0.15, legendText: "AOL", label: "AOL" },
                                    //{ y: 1.84, legendText: "Others", label: "Others" }
                                ],
                                @*//You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                            //dataPoints: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(phoneLeadDataPoints)),*@
                            }
                            ]
                        });
                        chart.render();
                    });
        </script>


<h1 style="text-align:left">Scoreboard @Location @ReportDate</h1>

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            1
        </th>
        <th>
            2
        </th>
        <th>
            3
        </th>
        <th>
            4
        </th>
        <th>
            5
        </th>
        <th>
            6
        </th>
        <th>
            7
        </th>
        <th>
            8
        </th>
        <th>
            9
        </th>
        <th>
            10
        </th>
        <th>
            11
        </th>
        <th>
            12
        </th>
        <th>
            13
        </th>
        <th>
            14
        </th>
        <th>
            15
        </th>
        <th>
            16
        </th>
        <th>
            17
        </th>
        <th>
            18
        </th>
        <th>
            19
        </th>
        <th>
            20
        </th>
        <th>
            21
        </th>
        <th>
            22
        </th>
        <th>
            23
        </th>
        <th>
            24
        </th>
        <th>
            25
        </th>
        <th>
            26
        </th>
        <th>
            27
        </th>
        <th>
            28
        </th>
        @if (DaysInMonth > 28)
        {
            <th>
                29
            </th>
        }

        @if (DaysInMonth > 29)
        {
            <th>
                30
            </th>
        }


        @if (DaysInMonth > 30)
        {
            <th>
                31
            </th>
        }

        <th>
            MTD
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td @if (@recordnumber < 3) { <text> style="color:green; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @Html.DisplayFor(modelItem => item.FIRSTNAME)
                @Html.DisplayFor(modelItem => item.LASTNAME)
            </td>
            <td @if (item.DAY1 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY1 > 0)
                {
                    @item.DAY1
                }
            </td>
            <td @if (item.DAY2 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY2 > 0)
                {
                    @item.DAY2
                }
            </td>
            <td @if (item.DAY3 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY3 > 0)
                {
                    @item.DAY3
                }
            </td>
            <td @if (item.DAY4 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY4 > 0)
                {
                    @item.DAY4
                }
            </td>
            <td @if (item.DAY5 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY5 > 0)
                {
                    @item.DAY5
                }
            </td>
            <td @if (item.DAY6 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY6 > 0)
                {
                    @item.DAY6
                }
            </td>
            <td @if (item.DAY7 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY7 > 0)
                {
                    @item.DAY7
                }
            </td>
            <td @if (item.DAY8 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY8 > 0)
                {
                    @item.DAY8
                }
            </td>
            <td @if (item.DAY9 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY9 > 0)
                {
                    @item.DAY9
                }
            </td>
            <td @if (item.DAY10 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY10 > 0)
                {
                    @item.DAY10
                }
            </td>
            <td @if (item.DAY11 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY11 > 0)
                {
                    @item.DAY11
                }
            </td>
            <td @if (item.DAY12 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY12 > 0)
                {
                    @item.DAY12
                }
            </td>
            <td @if (item.DAY13 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY13 > 0)
                {
                    @item.DAY13
                }
            </td>
            <td @if (item.DAY14 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY14 > 0)
                {
                    @item.DAY14
                }
            </td>
            <td @if (item.DAY15 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY15 > 0)
                {
                    @item.DAY15
                }
            </td>
            <td @if (item.DAY16 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY16 > 0)
                {
                    @item.DAY16
                }
            </td>
            <td @if (item.DAY17 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY17 > 0)
                {
                    @item.DAY17
                }
            </td>
            <td @if (item.DAY18 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY18 > 0)
                {
                    @item.DAY18
                }
            </td>
            <td @if (item.DAY19 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY19 > 0)
                {
                    @item.DAY19
                }
            </td>
            <td @if (item.DAY20 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY20 > 0)
                {
                    @item.DAY20
                }
            </td>
            <td @if (item.DAY21 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY21 > 0)
                {
                    @item.DAY21
                }
            </td>
            <td @if (item.DAY22 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY22 > 0)
                {
                    @item.DAY22
                }
            </td>
            <td @if (item.DAY23 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY23 > 0)
                {
                    @item.DAY23
                }
            </td>
            <td @if (item.DAY24 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY24 > 0)
                {
                    @item.DAY24
                }
            </td>
            <td @if (item.DAY25 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY25 > 0)
                {
                    @item.DAY25
                }
            </td>
            <td @if (item.DAY26 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY26 > 0)
                {
                    @item.DAY26
                }
            </td>
            <td @if (item.DAY27 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY27 > 0)
                {
                    @item.DAY27
                }
            </td>


            <td @if (item.DAY28 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                @if (item.DAY28 > 0)
                {
                    @item.DAY28
                }
            </td>
            @if (DaysInMonth > 28)
            {

                <td @if (item.DAY29 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                    @if (item.DAY29 > 0)
                    {
                        @item.DAY29
                    }
                </td>
            }


            @if (DaysInMonth > 29)
            {
                <td @if (item.DAY30 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                    @if (item.DAY30 > 0)
                    {
                        @item.DAY30
                    }
                </td>
            }

            @if (DaysInMonth > 30)
            {

                <td @if (item.DAY31 != 0) { <text> style="background-color:yellow; text-align: center" </text>  } else { <text> style="text-align: center" </text> }>
                    @if (item.DAY31 > 0)
                    {
                        @item.DAY31
                    }
                </td>
            }
            <td style="text-align: center">
                @if (item.MTD > 0)
                {
                    @Html.DisplayFor(modelItem => item.MTD)
                }
            </td>
        </tr>
        recordnumber += 1;

    }
</table>


 @section scripts
{
    <script src="~/Scripts/raphael-2.1.4.min.js"></script>
    <script src="~/Scripts/justgage.js"></script>
}









